<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {font-family: Arial, sans-serif;}
        .container { padding: 20px }
        .header { background: grey; padding: 10px; }
    </style>
</head>
<body>
  <div class="container">
    <div class="header">
        <h2>New Contact Form Submission</h2>
    </div>
    <p><strong>From:</strong> {{ name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Message:</strong></p>
    <p>{{ message }}</p>
  </div>  
</body>
</html>