{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
  <div class="login-card">
    <h2>Welcome Back</h2>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
    </form>
    <p class="signup-link">Don’t have an account? <a href="{% url 'Signup' %}">Sign up</a></p>
  </div>
</div>
{% endblock %}


