{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css'%}">
{% endblock %}

{% block content %}
<div class="login">
    

    <form method="post">
    <h1>Login to our system</h1>
        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-primary">Login</button>

        <hr>

        <p>
            Need an account? <a href="{% url 'Signup' %}">Signup here</a>
        </p>
    </form>

</div>
{% endblock %}